<!doctype html>
<html lang="en">

    <head>
        <title>Image Hub</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/bootstrap.min.css">

    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Image Hub</h1>
                <p>
                    Image Hub on {{.Registry}}
                </p>
            </div>
            <div>
                {{range .Messages}}
                <div class="alert alert-{{.Level}}" role="alert">
                    {{.Message}}
                </div>
                {{end}}
            </div>
            <div class="rounded">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Tag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Images}}
                        {{if (len .Tags) gt 0}}
                        <tr>
                            <td>
                                {{.Name}}<br>
                            </td>
                            <td>
                                {{$Name := .Name}}
                                {{range .Tags}}

                                {{$Sha     := .Info.Config.Labels.Sha }}
                                {{$RepoURL := "#"}}
                                {{if not (.Info.Config.Labels.Repo | prefix "/") }}
                                    {{$RepoURL := .Info.Config.Labels.Repo | replace "git@github.com:" "https://github.com/" | replace ".git" ""}}
                                    {{$RepoURL := printf "%s/commit/%s" $RepoURL $Sha}}
                                {{end}}

                                <div clas="btn-toolbar" role="toolbar">
                                    <div class="btn-group btn-group-inline" role="group" style="margin: 1px">
                                        <button class="btn btn-secondary btn-sm"
                                                style="width: 10em"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#tag{{.Name}}{{$Sha}}Collapse"
                                                aria-expanded="false"
                                                aria-controls="#tag{{.Name}}{{$Sha}}Collapse">
                                            {{.Name}}
                                        </button>
                                        {{ if $Sha }}
                                        <a class="btn btn-warning btn-sm" href="{{$RepoURL}}" style="width: 7em">
                                            <i class="fab fa-github"></i> {{printf "%.6s" $Sha}}
                                        </a>
                                        {{ end }}
                                        <button class="btn btn-primary btn-sm"
                                                data-clipboard-text="{{$.Registry}}/{{$Name}}:{{.Name}}"
                                                style="width: 2em">
                                            <i class="far fa-copy"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-inline" role="group" style="margin: 1px">
                                        <form class="form-inline" method="post" action="/delete">
                                            <input type="hidden" name="DockerContentDigest" value="{{.DockerContentDigest}}" />
                                            <input type="hidden" name="Image" value="{{$Name}}" />
                                            <input type="hidden" name="Tag" value="{{.Name}}" />
                                            <button type="submit"
                                                    class="btn btn-danger btn-sm"
                                                    style="width: 2em">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {{end}}
                            </td>
                        </tr>
                        {{range .Tags}}
                        <tr>
                            {{$Sha := .Info.Config.Labels.Sha }}
                            <td colspan="2" class="collapse" id="tag{{.Name}}{{$Sha}}Collapse">
                                <pre style="white-space: pre-wrap">
{{.Info.Config|json}}
                                </pre>
                            </td>
                        </tr>
                        {{end}}
                    {{end}}
                    {{end}}
                    </tbody>
            </div>
                </table>
        </div>
        <script src="/static/popper.min.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/clipboard.min.js"></script>
        <script src="/static/fa.js"></script>
        <script>
         new ClipboardJS('.btn');
        </script>
    </body>
</html>
